In [1]:
import pandas as pd
import sqlite3

In [2]:
# Create a SQL connection to our SQLite database
conn = sqlite3.connect('data/nwi_full.db')

In [3]:
# Load the data into a DataFrame
df = pd.read_sql_query("SELECT * from nwi_full", conn)

In [4]:
# Verify that result of SQL query is stored in the dataframe
df.head()

,level_0,index,unnamed: 0,objectid,geoid10,geoid20,state_fips,county_fips,tractce,blkgrpce,...,b01001_005z,b01001_006z,b01001_007z,b01001_008z,b01001_009z,b01001_010z,b01001_011z,b15003_002z,b15003_003z,b15003_004z
0,0,0,0,1,481130078254,481130078254,48,113,7825,4,...,229.0,262.0,24.0,112.0,25.0,66.0,0.0,210.0,110.0,58.0
1,1,1,1,2,481130078252,481130078252,48,113,7825,2,...,78.0,26.0,58.0,84.0,244.0,102.0,33.0,17.0,55.0,149.0
2,2,2,2,3,481130078253,481130078253,48,113,7825,3,...,166.0,186.0,143.0,33.0,0.0,0.0,0.0,49.0,228.0,161.0
3,3,3,3,4,481130078241,481130078241,48,113,7824,1,...,72.0,181.0,149.0,175.0,115.0,23.0,13.0,0.0,24.0,79.0
4,4,4,4,5,481130078242,481130078242,48,113,7824,2,...,43.0,155.0,107.0,135.0,168.0,37.0,33.0,6.0,21.0,80.0

In [6]:
df.drop(columns=['level_0','index','unnamed: 0'], inplace=True)
df.to_sql('nwi', conn)

217216